ConnectionStrings__DefaultConnection=

ALLOWED_ORIGINS=https://your-frontend.onrender.com

Jwt__Issuer=
Jwt__Audience=
Jwt__Key=
Jwt__TokenLifetimeHours=

Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

InitialAdmin__Username=
InitialAdmin__Password=

GOOGLE_APPLICATION_CREDENTIALS=