ConnectionStrings__DefaultConnection=

Jwt__Issuer=
Jwt__Audience=
Jwt__Key=
Jwt__TokenLifetimeHours=

Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

InitialAdmin__Username=
InitialAdmin__Password=